
@media (max-width :800px){
    #content .content-section{
        max-width: 100%;
    }
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    scroll-behavior: smooth;
}


#main{
}
#header{
    height:46px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
    line-height: 46px;
}
#nav li{ 
    position: relative;
}

#nav> li> a{
    color:#fff;
    text-transform: uppercase;
}

#nav li a{
    padding-left: 24px;
    padding-right:24PX ;
    text-decoration:none;
    display: inline-block;
    
}

#nav .subnav a{
    color:#000 ;
    padding: 0 16px;
}
#nav >li:hover> a,
#nav .subnav li:hover{
    color :#000;
   background-color: #ccc;
}

#nav .subnav{
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #fff;
    list-style: none;
    position: absolute;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
}
#header .menu-btn{
    float:right;
    padding: 0 20px;
    display: none;
}
#header .search-btn{
    float:right;
    padding: 0 20px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}



#header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    margin-top: 46px;
    padding-top: 65%;
    background: url('/assets/image/slider/Ahri_KDASkin_full.jpg') center /cover no-repeat ;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color:#fff;
    width: 100%;
}
#slider .text-heading{
    font-size: 24px;
}
#slider .text-description{
    font-size: 40px;
    margin-top: 10px;
}
#content{
    height: auto;
    background-color: #fff;
    display: inline-block;
}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .content-section .section-heading{
    text-align: center;
    font-weight: 500px;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 25px;
}

#content .content-section .section-sub-heading
{
    text-align: center;
    font-style: italic ;
    margin-top: 15px;
    opacity: 0.5;

}
#content .content-section .section-about-text
{
    font-size: 15px;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .content-section .menber-list{
    margin-top: 35px;
    overflow: hidden;
}
#content .content-section .menber-img{
    margin-top: 12px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

#content .content-section .menber-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}
#content .tour-section{
    background-color: #000;
    color :#fff !important
}
#content .stickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 30px;
}
#content .stickets-list li{
    font-size: 15px;
    color: #757577;;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
#content .stickets-list .sold-out{
    background-color: #f44336!important;
    color: #fff !important;
    padding: 3px 3px;
    margin-left: 16px;
}
#content .stickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    color:#fff;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}   
#content .places-list{
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
}
#content .places-list .place-img:hover{
    opacity: 0.6;
}
#content .places-list .place-heading{
    font-weight: 600;
    padding-top:15px;
}
#content .places-list .place-time{
    color:#757577;
    padding-top:15px;

}
#content .places-list .place-desc{
    padding-top: 15px;
}
#content .places-list .place-img{
    margin-top:32px ;
}
#content .palace-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
#content .places-item{
    height: 400px;
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    color :#000 !important;
}
#content .places-item .place-img{
  width: 100%;
  height: 40%;
  display: block;
}
#content .places-item .place-buy-btn{
    padding: 8px;
    background-color: #000;
    text-decoration: none;
    color:#fff;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}
#content .places-item .place-buy-btn:hover{
    background-color: #ccc;
}
#footer{
    
}
.modal.open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container {

    min-height: 200px;
    background: white;
    width: 750px;
    max-width: calc( 100% - 32px) ;
    position: relative;
    animation: modalFadeIn ease 0.3s;
}
.modal .modal-header {
    background-color: #009688!important;
    align-items:  center;
    height: 120px;
    font-size: 30px;
    color:#fff;
    font-weight: 100;
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}
.modal .modal-body{
    padding: 0.15px 16px;
}
.modal-label{
   display: block;
   margin: 12px 0;
   font-size: 20px;
}
.modal .modal-body input{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}
.modal-header i{
    margin-right: 15px;
}
.modal-close{
    position: absolute;
    right: 0;
    padding: 10px 10px;
    color: #fff;
}
.modal-close:hover{
    background-color:#ccc;
    color: #000;
}
.modal-body #pay-tickets{
    width: 100%;
    height: 50px;
    background-color: #009688;
    color:#fff;
    border: none;
}
.modal-body #pay-tickets:hover{
    background-color: #ccc;
    color:#000;
    font-size: 15px;
}
.modal-footer{
    margin:25px 16px;
    text-align: right;
}
.modal-footer .modal-help a{
  color :#2196F3!important;
}
@keyframes modalFadeIn{
    from{
        transform: translateY(-95px);
    }
    to{
        transform: translateY(0);
    }
}
.contact{ 
    overflow: hidden;
}
.contact-container{
width: 50%;
float: left;
margin-top: 60px;
}
.contact-container .contact-left{
    font-size: 16px;
}
.contact-container p{
    margin-bottom: 6px;
}
.contact-right input{
    border: 1px solid #ccc!important;
    line-height: 10px;
    padding: 10px;
}

.contact-container .contact-half{
    width: 50%;
    float: left;
    padding: 0 8px;
    margin-bottom: 10px;
}
.contact-container i{
    margin-right: 15px;
}
.contact-container .contact-one{
    padding: 0 8px;
}

.contact-container  .half{
    width: 100%;
}
.contact-container  .message{
    width: 100%;
}
.contact-container  .contact-send{
   display: block;
   float: right;
   padding: 10px;
   background-color: #000;
   color: #fff;
   margin-top: 30px;
   margin-right: 8px;
   border: none;
}
.contact-container  .contact-send:hover{
    background-color: #ccc;
    color:#000;
    cursor: pointer;
}
.map-section img{
    width: 100%;
}

#footer{
background-color: #fff;
text-align: center;
width: 100%;
padding: 64px 16px;
}
.social-list{
    font-size :24px;
}
.social-list a{
    color:rgba(0,0,0,0.6);
    text-decoration: none;
}
.social-list a:hover{
    color:rgba(0,0,0,0.3);
}
.copyright{
    margin-top: 15px;
    color:rgba(0,0,0,0.6);
}
.copyright a{
    color:rgba(0,0,0,0.6);}


